In [82]:
import pandas as pd

In [83]:
df = pd.read_csv('rappers.csv')

drops = ['Unnamed: 0', 'index']
df = df.drop(drops, axis = 1)

In [84]:
df.shape

(3148, 5)

In [85]:
df.head()

,song,year,artist,genre,lyrics
0,the-invitation,2009,50-cent,Hip-Hop,I had five hundred grams in fifty-fifty-eight ...
1,better-come-on-your-a-game,2009,50-cent,Hip-Hop,[Chorus: 50 Cent]\nNigga try and come play me\...
2,longon-girl-2,2009,50-cent,Hip-Hop,{DAMN!}\n[Intro: {DJ Whoo KidDJ Whoo Kid}]\nUh...
3,hard-rock,2009,50-cent,Hip-Hop,[Ester Dean]\nHere we go ready hard rock\nHere...
4,i-line-niggas,2009,50-cent,Hip-Hop,[Intro]\nI'm tryin to tell you but you won't h...

In [86]:
list(df['artist'].unique())

['50-cent', 'e-40', 'chris-brown', '2pac', 'chief-keef', 'drake', 'eminem']

In [87]:
# Make dataframes for rappers

fitty_df = df[df['artist'] == '50-cent']   
e_40_df = df[df['artist'] == 'e-40']   
chris_brown_df = df[df['artist'] == 'chris-brown']
tupac_df = df[df['artist'] == '2pac']
keef_df = df[df['artist'] == 'chief-keef']
drake_df = df[df['artist'] == 'drake']
eminem_df = df[df['artist'] == 'eminem']